<div class="cotainer">
    <div class="row mt-4 justify-content-center">
        <div class="col-8">
            <% propItems.forEach(propItem=> { %>
                <div class="card">
                    <img src=<%=propItem.thumbnail %> width="500" height="300" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= propItem.name %>
                        </h5>
                        <p class="card-text">
                            <%= propItem.desc %>
                        </p>
                        <a href="/properties/listing/<%=propItem.id %>" class=" btn btn-primary">View
                            Property</a>
                    </div>
                </div>
                <% }) %>

        </div>
    </div>
</div>