<div class="cotainer">
  <div class="row mt-4 justify-content-center">
    <div class="col-8">
      <div class="card">
        <img
          src="/img/yellow-gold.jpg"
          width="500"
          height="300"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Yellow Gold Building</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="/properties/yellow-gold-building" class="btn btn-primary"
            >View Property</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
