body {
  margin-bottom: 0.5rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
  color: white;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  color: white;
  line-height: 1.5;
}
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

/* Title Section */

#title {
  background-color: #ff4c68;
}
.container-fluid {
  padding: 3% 15% 5%;
}

/* Navigation Bar */
.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
  padding: 15px;
}
.nav-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.navbar {
  padding-bottom: 4.5rem;
}

/* Download Button */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
  width: 20%;
  transform: rotateZ(25deg);
  position: absolute;
}

@media (max-width: 1024px) {
  #title {
    text-align: center;
  }

  .title-image {
    width: 40%;
    transform: rotateZ(0);
    position: static;
  }
}
/* Features Section */
#features {
  padding: 15% 7%;
  position: relative;
  z-index: 1;
  background-color: white;
}

.features-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}
.features-icon:hover {
  color: #ff4c68;
}
.features-h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}
.features-p {
  color: #8f8f8f;
  padding: 0 18%;
}

/* Testimonials Section  */
#testimonials {
  padding: 7% 1%;
  text-align: center;
  color: #fff;
  background-color: #ef8172;
}
.testimonials-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.testimonials-text {
  padding: 0% 15%;
}

/* Press Section  */
#press {
  text-align: center;
  padding: 50px 20px;
}

.press-logo {
  width: 15%;
  margin: 20px;
}

/* Pricing Section  */
#pricing {
  padding: 4% 15%;
  text-align: center;
}
.pricing-h2 {
  color: black;
}
.pricing-column {
  padding: 3% 2%;
}

/* CTA Section  */
#cta {
  padding: 7% 1%;
  text-align: center;
  color: #fff;
  background-color: #ff4c68;
}
.cta-h2 {
  padding: 0% 15%;
}
.cta-button {
  margin: 5% 3% 5% 0;
}

/* Footer Section  */
#footer {
  padding: 7% 15%;
  text-align: center;
  background-color: #fff;
  color: #8f8f8f;
}

.footer-icon {
  font-size: 24px;
  margin: 1rem 1.5rem 1rem 0rem;
}
